{% include "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h1>What is this?</h1>
<p>This is a simple meal planner, in the spirit of MyFitnessPal, Cronometer, or just a plain old food journal.</p>
<h1>How do I use it?</h1>
<p>Simply type in the food you've eaten for each day of the week, along with its number of calories, and click the checkmark to add the items. Each list item can then be clicked to be removed.</p>
<h1>What is a "BMR"?</h1>
<p>Your BMR, or Basal Metabolic Rate, is simply the amount of calories your body takes up through the basic act of living! It's calculated here using the Harris-Benedict formula, which is:</p>
<h3>BMR= (10 * weight in kg) + (6.25 * height in cm) - (5 * age in years) + 5</h3>
<center><p>For men, and...</p></center>
<h3>BMR= (10 * weight in kg) + (6.25 * height in cm) - (5 * age in years) - 161</h3>
<center><p>For women</p></center>
{% endblock %}
